* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #edd263;
}

.navbar {
	margin: 20px;
}

.navbar-brand {
	font-weight: 700;
}

.form-group {
	margin-bottom: 1rem;
	width: 80%;
	float: left;
	/* display: block; */
}

.form-control {
	padding-left: 3.375rem;
}

.form-control-feedback {
	position: absolute;
	z-index: 2;
	display: block;
	width: 4.375rem;
	height: 2.375rem;
	line-height: 2.375rem;
	text-align: center;
	pointer-events: none;
	color: #aaa;
}

.btn-search {
	width: 20%;
	padding: 5px;
	background-color: #3b2d64;
	color: white;
}

.h2-text {
	font-size: 22px;
	background-color: white;
}

.h4-text {
	font-size: 36px;
	font-weight: 700;
	padding-left: 5% !important;
}

#foods {
	cursor: pointer;
}

#details {
	width: 50%;
	margin: 0 auto;
	background-color: #fff;
}
